<mat-toolbar>
  <span>{{ title }}</span>
  <span class="spacer"></span>
  <span>
    <a *ngIf="!session?.isValid" mat-button routerLink="/login">Log in</a>
    <div *ngIf="session?.isValid">
      <button mat-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon> {{ session.username }}
      </button>
      <mat-menu #userMenu="matMenu">
        <a mat-menu-item href="/user/{{ session.userId }}">Account</a>
        <button (click)="logout()" mat-menu-item>Log out</button>
      </mat-menu>
    </div>
  </span>
</mat-toolbar>

<div class="content-body">
  <router-outlet></router-outlet>
</div>
